<h1>Welcome</h1>
<img id="goku" src="https://i.pinimg.com/originals/45/05/cc/4505cca044fb10cfc87bc3f9cb491d67.gif" width="600px" />
<p>
    Seja bem vindo ao meu site!!!
</p>

<p> 👇  Clica aqui</p>
<%= link_to 'Coins' , coins_path, class: "btn btn-primary" %>
<br>
<%= link_to 'Products', products_path, class: "btn btn-primary" %>
<br>

